{block #content}
<div class="subpage-header">
    <h1 n:block="title">Bachovy esence</h1>
</div>

<section class="service-page container">
        {box esences}
        <a n:href="Homepage:" class="btn btn-light mt-4">Zpět na úvod</a>
</section>
