{block #content}
<div class="subpage-header">
    <h1 n:block="title">Homeopatie</h1>
</div>

<section class="service-page container">
        {box homeopathy}
    <a n:href="Homepage:" class="btn btn-light mt-4">Zpět na úvod</a>
</section>
